body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.container {
    display: grid;
    margin: auto;
    gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
}

.titleSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    background-color: #fffcf2;
    color: #0d1b2a;
    border: 0.15rem solid;
    border-color: #0d1b2a;
}

.titles {
    margin: auto;
}

.mainTitle,
.fullName,
.profession {
    text-align: center;
}

.profilePhotoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePhoto {
    max-width: 12rem;
    max-height: 12rem;
    border-radius: 50%;
    border: 4px solid;
    border-color: #0d1b2a;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #0d1b2a;

}

.contactInfoItem {
    display: flex;
    text-align: center;
    justify-content: center;
}

.contactIcons {
    margin-right: 0.5rem;
    max-width: 3rem;
    max-height: 3rem;
}

.categoriesContainer {
    display: grid;
    margin: auto;
    gap: 5rem;
    row-gap: 0.25rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.category {
    text-align: justify;
}

.socials {
    margin: auto;
    min-width: 15rem;
    max-width: 25rem;
    border: 0.15rem solid;
    border-radius: 10px;
    border-color: #0d1b2a;
    background-color: #ede0d4;
}

.findMeTitle {
    text-align: center;
}

.socialPhotos {
    display: flex;
    justify-content: center;
}

.socialPhoto {
    max-width: 4rem;
    max-height: 4rem;
    margin: 0.5rem;
}

.githubContainer,
.facebookContainer,
.twitterContainer {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}

.githubContainer {
    background-image: url(../imgs/github-logo.png);
}

.facebookContainer {
    background-image: url(../imgs/face-logo.png);
}

.twitterContainer {
    background-image: url(../imgs/twitter-logo.png);
}

.githubContainer:hover,
.facebookContainer:hover,
.twitterContainer:hover {
    cursor: pointer;
}

.githubContainer:hover {
    background-image: url(../imgs/github-white-logo.png);
}

.twitterContainer:hover {
    background-image: url(../imgs/twitter-white-logo.png);
}

.facebookContainer:hover {
    background-image: url(../imgs/face-white-logo.png);
}

h1 {
    font-size: 2rem;
    color: #0d1b2a;
}

h2 {
    font-size: 1.5rem;
    color: #0d1b2a
}

h3 {
    font-size: 1.25rem;
    color: #0d1b2a;
}

li,
p {
    font-size: 1rem;
}

hr {
    height: 0.15rem;
    background-color: #0d1b2a;
}