body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.container {
    display: grid;
    margin: auto;
    gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
}

.titleSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    background-color: #adb5bd;
    color: #000;
    border: 0.15rem solid;
    border-color: #000;
}

.titles {
    margin: auto;
}

.mainTitle,
.fullName,
.profession {
    text-align: center;
}

.profilePhotoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePhoto {
    max-width: 12rem;
    max-height: 12rem;
    border-radius: 50%;
    border: 0.15rem solid;
    border-color: #000;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #000;

}

.contactInfoItem {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contactIcons {
    margin-right: 0.25rem;
    max-width: 2rem;
    max-height: 2rem;
}

.categoriesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.category {
    text-align: justify;
}

.category h3 {
    text-align: center;
}

.category:nth-child(odd) {
    background-color: #ced4da;
}

.category:nth-child(even) {
    background-color: #dee2e6;
}

.category ul li p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.socials {
    margin: auto;
    min-width: 15rem;
    max-width: 25rem;
    border: 0.15rem solid;
    border-radius: 10px;
    border-color: #000;
    background-color: #e9ecef;
}

.findMeTitle {
    text-align: center;
}

.socialPhotos {
    display: flex;
    justify-content: center;
}

.socialPhoto {
    max-width: 4rem;
    max-height: 4rem;
    margin: 0.5rem;
}

.githubContainer,
.linkedinContainer,
.twitterContainer,
.whatsappContainer {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}

.githubContainer {
    background-image: url(../imgs/github-black-png.png);
}

.linkedinContainer {
    background-image: url(../imgs/linkedin-black-svg.svg);
}

.twitterContainer {
    background-image: url(../imgs/twitter-black-svg.svg);
}

.whatsappContainer {
    background-image: url(../imgs/whatsapp-black-svg.svg);
}

.githubContainer:hover,
.linkedinContainer:hover,
.twitterContainer:hover,
.whatsappContainer:hover {
    cursor: pointer;
}

.githubContainer:hover {
    background-image: url(../imgs/github-white-png.png);
}

.twitterContainer:hover {
    background-image: url(../imgs/twitter-white-svg.svg);
}

.linkedinContainer:hover {
    background-image: url(../imgs/linkedin-white-svg.svg);
}

.whatsappContainer:hover {
    background-image: url(../imgs/whatsapp-white-svg.svg);
}

h1 {
    font-size: 2rem;
    color: #000;
}

h2 {
    font-size: 1.5rem;
    color: #000
}

h3 {
    font-size: 1.25rem;
    color: #000;
}

h4 {
    font-size: 1rem;
    color: #000;
}

li,
p {
    font-size: 1rem;
}

hr {
    height: 0.15rem;
    background-color: #000;
}